footer#footer
	.container
		.text-center
			p 
				="Copyright © 2014 - "
				a(href="http://mostafiz.me/") 
					="Mostrafiz"
				=" All Rights Reserved"

//- Scripts
script(type="text/javascript" src="/public/himu/js/jquery.js")
script(type="text/javascript" src="/public/himu/js/bootstrap.min.js")
script(type="text/javascript" src="/public/himu/js/smoothscroll.js")
script(type="text/javascript" src="/public/himu/js/jquery.isotope.min.js")
script(type="text/javascript" src="/public/himu/js/jquery.prettyPhoto.js")
script(type="text/javascript" src="/public/himu/js/jquery.parallax.js")
script(type="text/javascript" src="/public/himu/js/main.js")