include head.pug

include preloader.pug
include menu.pug
		
include ./himu_sections/home.pug
include ./himu_sections/about_us.pug
		
include ./himu_sections/services.pug
		
include ./himu_sections/our_team.pug
include ./himu_sections/portfolio.pug
include ./himu_sections/clients.pug
include ./himu_sections/blog.pug
include ./himu_sections/contact.pug
		

include footer.pug
include ./himu_sections/scripts.pug