doctype html
html
	include ./includes/head.pug
	body
		include ./includes/preloader.pug
		include ./includes/menu.pug
		
		include ./includes/himu_sections/home.pug
		include ./includes/himu_sections/about_us.pug
		include ./includes/himu_sections/services.pug
		include ./includes/himu_sections/our_team.pug
		include ./includes/himu_sections/portfolio.pug
		include ./includes/himu_sections/clients.pug
		include ./includes/himu_sections/blog.pug
		include ./includes/himu_sections/contact.pug

		include ./includes/footer.pug
		include ./includes/himu_sections/scripts.pug