- var members = [{name: 'William Hurt', position: 'Sr. Web Developer', img: 'member1.jpg'},	{name: 'Alekjandra Jony', position: 'Creative Designer', img: 'member2.jpg'}, {name: 'Paul Johnson', position: 'Skilled Programmer', img: 'member3.jpg'}, {name: 'John Richerds', position: 'Marketing Officer', img: 'member4.jpg'}, {name: 'William Hurt', position: 'Sr. Web Developer', img: 'member1.jpg'}, {name: 'Alekjandra Jony', position: 'Creative Designer', img: 'member2.jpg'}, {name: 'Paul Johnson', position: 'Skilled Programmer', img: 'member3.jpg'}, {name: 'John Richerds', position: 'Marketing Officer', img: 'member4.jpg'}];

block our_team
	section#our-team
		.container
			.row.text-center
				.col-sm-8.col-sm-offset-2
					h2.title-one Meet The Team
					p
						="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit."
			#team-carousel.carousel.slide(data-interval="false")
				a.member-left(href="#team-carousel", data-slide="prev"): span.glyphicon.glyphicon-chevron-left
				a.member-right(href="#team-carousel", data-slide="next"): span.glyphicon.glyphicon-chevron-right

				.carousel-inner.team-members
				each member, index in members
					-if(index%4==0){
						-if(index==1)
							.row.item.active
						-else
							.row.item
							.col-sm-6.col-md-3
								.single-member
									img(src="/public/himu/images/our-team/"+member.img, alt="team member")
									h4 
										= member.name
									h5 
										= member.position
									p
										="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod"
									.socials
										a(href="#"): i.fa.fa-facebook
										a(href="#"): i.fa.fa-twitter
										a(href="#"): i.fa.fa-google-plus
										a(href="#"): i.fa.fa-dribbble
										a(href="#"): i.fa.fa-linkedin
					-}else{
						.col-sm-6.col-md-3
							.single-member
								img(src="/public/himu/images/our-team/"+member.img, alt="team member")
								h4 
									= member.name
								h5 
									= member.position
								p
									="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod"
								.socials
									a(href="#")
										i.fa.fa-facebook
									a(href="#")
										i.fa.fa-twitter
									a(href="#")
										i.fa.fa-google-plus
									a(href="#")
										i.fa.fa-dribbble
									a(href="#")
										i.fa.fa-linkedin
					-}
								
	<!--/#Our-Team-->